@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Slabo+27px&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}
li, ul{
    list-style-type: none;
}

#Logo{
    height: 70px;
}

p span{
    color: blue;
}

#LogoItems{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 20px;
}
#LogoItems p, a{
    margin: 0 20px;
}

#LogoLine{
    font-size: 2rem;
    text-align: center;
}
#LogoLine::first-letter{
    color: blue;
}

#headerLine{
    background-color: rgb(65, 65, 238);
    margin: 0px 100px;
    padding: 5px 10px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    color: #fff;
    border-radius: 20px;
    word-spacing: 3px;
}

#SearchContainer{
    margin: 5px 100px;
    align-items: center;
}

#inputItem{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#SearchItems{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: 5px;
}

#search-symbol{
    height: 20px;
    position: absolute;
    left: calc(100% - 30px);
}
#inputBox{
    height: 30px;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    background-color: #e6e0e0;
} 

.btn{
    background-color: rgb(65, 65, 238);
    border: none;
    height: 30px;
    width: 20%;
    margin: 0 3px;
    border-radius: 20px;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
}

.active-btn{
    background-color: rgba(1, 149, 255, 0.799);
}

#mainlist li{
    display: flex;
    align-items: center;
    margin: 5px 0px;
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgb(65, 65, 238);
    color: #fff;
}

.listdata{
    opacity: 90%;
}

#CenterData{
    width: 100%;
}
#CityData{
    width: 20%;
}
#StateData{
    width: 20%;
}
